.env
.venv
venv/
__pycache__/
.ipynb_checkpoints/
.DS_Store
._*

# Data & Models
data/raw/*.csv
# data/processed/*.pkl  <-- Uncommented to allow upload to Render
data/processed/*.joblib
!data/raw/.gitkeep
!data/processed/.gitkeep

# IDEs
.vscode/
.idea/